body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
html, body {
  height: 100%;
}
a {
  color: #00B7FF;
}

* {
  margin:0;
  padding:0;
}
.x-full {
  width:100%;
}
.x-edge {
  border-radius: 0 !important;
}
.login {
  background: #00B7FF;
  height:100%;
}
.login-box {
  height:240px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 4px;
}
.login-box header {
  font-size: 32px;
  text-align: center;
}

.login-box .input-group span.input-group-addon {
  position: relative;
  top:0;
}
#content {height:100%;}
.navbar {margin-bottom:0 !important;}

.main {
  height:100%;
  padding-top: 52px;
  margin-top: -52px;
  box-sizing: border-box;
}

.left {
  width:200px;
  background: #666;
  float: left;
  height: 100%;
  margin-right:-200px;
}
.right-content {
  margin-left: 200px;
  height:100%;
  position: relative;
  background: #eaeaea;
  overflow-y: auto;
}

.left ul {
  margin:0;
  height:100%;
  padding-top:20px;
  box-sizing: border-box;
}
.left ul li {
  height:40px;
  line-height: 40px;
  font-size: 16px;
  color:#fff;
  text-indent: 25px;
}
.left ul li a {color:#fff;}

.main-content {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.box-content {
  margin:20px 20px 40px;
  background: #fff;
  padding:30px 20px;
  box-sizing: border-box;
  min-height: 92%;
}
